[submodule "hexo-theme-cactus"]
    path = themes/cactus
    url = https://github.com/probberechts/hexo-theme-cactus.git

[submodule "hexo-theme-yilia"]
    path = themes/yilia
    url = https://github.com/litten/hexo-theme-yilia.git